.navbar {
  background-color: #333;
  color: white;
  padding: 1rem;
}

.navbar-logo h1 {
  margin: 0;
  display: inline;
  color: #ff6219;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar-links li {
  display: inline;
}

.navbar-links a {
  color: white;
  text-decoration: none;
}

.navbar-links a:hover {
  text-decoration: underline;
}
